.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &--no-padding-untill-midium {
    padding: 0;
    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-padding-untill-large {
    padding: 0;
    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--medium {
    max-width: 980px;
  }

  &--narrow {
    max-width: 460px;
  }


  &--b-margin {
    margin-bottom: 1rem;
    @mixin atMedium {
      margin-bottom: 3.75rem;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
