.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &--medium {
    max-width: 980px;
  }

  &--b-margin {
    margin-bottom: 1rem;
    @mixin atMedium {
      margin-bottom: 3.75rem;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
